[Desktop Entry]
Version=0.2
Name=Sapy
Comment=Monitor your money
Exec=/home/stefano/Projects/Sapy/sapy
Icon=/home/stefano/Projects/Sapy/icon/icon.png
Terminal=false
Type=Application
Categories=Utility;Application;
